<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Birding App</title>
    <link rel="stylesheet" href="res/css/styles.min.css">
    <link rel="stylesheet" href="res/font-awesome/css/font-awesome.min.css">
</head>

<body>
    <header>
        <ul class="menu">
            <li><i class="fa fa-binoculars" aria-hidden="true"></i></li>
        </ul>
        <h1 class="title">Birding App</h1>
    </header>
    <div class="decal"></div>
    <content>
        <div class="bird-gallery">
            <input type="text" class="bird-search" />
            <ul class="bird-list">
            </ul>
        </div>
        <div class="bird-counter">
            <ul class="bird-list">
             
            </ul>
        </div>
    </content>

    <footer>
        <p>
        Die verwendeten Bilddateien entstammen den <a href="https://commons.wikimedia.org/wiki/Main_Page" target="_new">Wikimedia Commons</a>. Die Audio-Aufzeichnungen sind dem <a href="http://www.tierstimmenarchiv.de/" target="_new">Tierstimmenarchiv</a> des <a href="http://www.naturkundemuseum.berlin/" target="_new">Naturkundemuseums Berlin</a> entnommen.<p/>
        <p>Bei der Implementierung der Anwendung wurde <a href="http://underscorejs.org/">underscore.js</a> eingesetzt.</p>
    </footer>

    <script type="text/template" id="bird-list-entry">
        <li class="bird-list-entry" bird-id="<%= id %>">
            <img src="<%= imagePath %>" class="bird-image" />
            <div class="bird-description">
                <span class="bird-name"><%= name %></span>
                <span class="bird-latin-name"><%= latinName %></span>
            </div>
            <span class="add-bird-button">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </span>
        </li>
    </script>
    <script type="text/template" id="bird-counter-entry">
        <li class="bird-list-entry" bird-id="<%= id %>">
            <img src="<%= imagePath %>" class="bird-image" />
            <div class="bird-interface">
                <div class="bird-info">
                    <span class="bird-name"><%= name %></span>
                    <span class="bird-latin-name"><%= latinName %></span>
                    <div class="bird-counter-info">
                        <span class="bird-counter-decrease button"><i class="fa fa-minus button decrease" aria-hidden="true"></i></span>
                        <span class="bird-counter-increase button"><i class="fa fa-plus button increase" aria-hidden="true"></i></span>
                        <span class="bird-current-max"><%= count %></span>
                    </div>
                </div>
            </div>
        </li>
    </script>
    <script type="text/template" id="bird-list">
        [{ "id":1, "name":"Haussperling", "latinName":"Passer domesticus", "imagePath":"res/img/haussperling.png", "audioPath":"res/audio/haussperling.ogg" },{ "id":2, "name":"Kohlmeise", "latinName":"Parus major", "imagePath":"res/img/kohlmeise.png", "audioPath":"res/audio/kohlmeise.ogg" },{ "id":3, "name":"Star", "latinName":"Sturnus vulgaris", "imagePath":"res/img/star.png", "audioPath":"res/audio/star.ogg" },{ "id":4, "name":"Amsel", "latinName":"Turdus merula", "imagePath":"res/img/amsel.png", "audioPath":"res/audio/amsel.ogg" },{ "id":5,"name":"Blaumeise", "latinName":"Cyanistes caerruleus", "imagePath":"res/img/blaumeise.png", "audioPath":"res/audio/blaumeise.ogg" },{ "id":6, "name":"Elster", "latinName":"Pica pica", "imagePath":"res/img/elster.png", "audioPath":"res/audio/elster.ogg" },{ "id":7, "name":"Grünfink", "latinName":"Chloris chloris", "imagePath":"res/img/gruenfink.png", "audioPath":"res/audio/gruenfink.ogg" },{ "id":8, "name":"Mehlschwalbe", "latinName":"Delichon urbicum", "imagePath":"res/img/mehlschwalbe.png", "audioPath":"res/audio/mehlschwalbe.ogg" },{ "id":9, "name":"Mauersegler", "latinName":"Apus apus", "imagePath":"res/img/mauersegler.png", "audioPath":"res/audio/mauersegler.ogg" },{ "id":10, "name":"Buchfink", "latinName":"Fringilla coelebs", "imagePath":"res/img/buchfink.png", "audioPath":"res/audio/buchfink.ogg" },{ "id":11, "name":"Ringeltaube", "latinName":"Columba palumbus", "imagePath":"res/img/ringeltaube.png", "audioPath":"res/audio/ringeltaube.ogg" },{ "id":12, "name":"Feldsperling", "latinName":"Passer montanus", "imagePath":"res/img/feldsperling.png", "audioPath":"res/audio/feldsperling.ogg" },{ "id":13, "name":"Türkentaube", "latinName":"Streptopelia decaocto", "imagePath":"res/img/tuerkentaube.png", "audioPath":"res/audio/tuerkentaube.ogg" },{ "id":14, "name":"Rauchschwalbe", "latinName":"Hirundo rustica", "imagePath":"res/img/rauchschwalbe.png", "audioPath":"res/audio/rauchschwalbe.ogg" },{ "id":15, "name":"Rotkehlchen", "latinName":"Erithacus rubecula", "imagePath":"res/img/rotkehlchen.png", "audioPath":"res/audio/rotkehlchen.ogg"}]
    </script>
    <script src="js/libs/underscore-min.js"></script>
   <script src="js/src/BirdingApp.js"></script>
    <script src="js/src/BirdingModel.js"></script>
    <script src="js/src/BirdingController.js"></script>
    <script src="js/src/BirdCounterView.js"></script>
    <script src="js/src/BirdListView.js"></script>
    <script>
        BirdingApp.init();
    </script>
</body>

</html>
